<p>
  <b>Title:</b>
  <%=h @news_item.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @news_item.body %>
</p>


<%= link_to 'Edit', edit_news_item_path(@news_item) %> |
<%= link_to 'Back', news_items_path %>