<%= error_messages_for 'user' %>

<h3>Change password</h3>

<% form_for :user, :url=>{:action => 'change_password'} do |form| %>

	<label for="user_password">Choose password:</label><br/>
	<%= form.password_field "password", :size => 20, :value=>"" %><br/>

	<label for="user_password_confirmation">Confirm password:</label><br/>
	<%= form.password_field "password_confirmation", :size => 20, :value=>"" %><br/>

	<%= submit_tag "Submit" %>

<% end %>